*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --m-font-size: 1rem;
    --xl-font-size: clamp(1.5rem, 3vw, 6rem);
    --l-font-size: 1.25rem;
    --s-font-size: .75rem;
    --about-font-size: clamp(5rem, 6.7vw, 8rem);
    --s-about-font-size: clamp(3.3rem, 4.5vw, 5.5rem);
    --text-color: #616161;
    --nav-height: 80px;
    --negative-nav-height: -80px;
    --about-img-width: 26%;
    --title-font: "Marcellus", serif;
    --text-font: "Poly", serif;
}

body{
    position: relative;
     min-height: 100vh; 
    padding-bottom: 500px;
    background: linear-gradient(180deg, #FEF6EF 0%, #FFDDBF 100%);
}
nav{
    width: 100%;
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: sticky;
    z-index: 100;
    font-family: var(--text-font);
}  
.logo img{
    width: 80px;
}
.nav-links{
    display: flex;
     gap: 20px;
}
li{
    list-style: none;
    font-size: var(--m-font-size);
}
.nav-links .nav-link{
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.4s;
    position: relative;
}  
.nav-links .nav-link:hover{
    color: black;
}

.nav-links .active{
    color: black;
}
.nav-links .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.4s;
}
.nav-links .nav-link:hover::after{
    width: 100%;
}
.nav-links .active::after{
    width: 100%;
}
footer {
    display: flex;
    bottom: 0;
    padding: 20px;
    width: 100%;
    min-height: 450px;
    max-height: 600px;
    height: 20vh;
    position: absolute;
    background-image: url(../pictures/svg\ pictures/waves.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--title-font);
    font-size: clamp(1.5rem, 2vw, 2rem);
    flex-direction: column;
    justify-content: flex-end;
}
footer::before{
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    height: 150px;
    background-image: url(../pictures/svg\ pictures/lines-waves.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.footer-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-info #footer-logo{
    width: 10%;
    margin-right: 10%;
}
.footer-info blockquote{
    width: 50%;
}
.footer-social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-social ul li {
    display: inline-block;
    width: 30%; 
    max-width: 50px; 
}
.footer-social ul li img {
    padding: 10px;
    width: 100%;
    background: rgba(92, 92, 92, 0.1);
    border-radius: 45%;
    transition: background 0.5s ease; 
}
.footer-social ul li img:hover{
   background:white;
}
.copy-right{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media (max-width: 830px){

    body {
        padding-bottom: 600px;
    }
    .footer-info{
        flex-direction: column;
        gap: 30px;
    }
    .footer-info #footer-logo{
        width: 20%;
        margin: 0;
    }
    footer{
        height: 500px;
    }
}
@media (max-width: 600px){
    :root{
        --m-font-size: .75rem;
        --l-font-size: 1rem;
    }
    
    .menu-items{
        width: calc(100% - 60px);
        position: absolute;
        top: 80px;
    }
    nav{
        align-items: flex-start;
        transition: 0.4s ease;
        overflow: hidden;
        padding: 20px;
    }
    nav.active{
        height: 500px;
    }
    .nav-links{
        flex-direction: column;
        align-items: center;
    }

    li{
        margin: 20px 0;
    }
    .menu-icon{
        display: flex;
        gap: 5px;
        flex-direction: column;
        padding: 10px 0;
    }
    .menu-icon span{
        width: 20px;
        height: 2px;
        background-color: rgb(0, 0, 0);
        transition: transform 0.4s ease, opacity 0.4s ease;
    }
    .active .menu-icon span:nth-child(1){
        transform: translateY(7px) rotate(49deg)
    }
    .active .menu-icon span:nth-child(2){
        opacity: 0;
    }
    .active .menu-icon span:nth-child(3) {
        transform: translateY(-7px) rotate(131deg);
    }
    .footer-info blockquote{
        width: 70%;
    }
    footer p {
        padding: 0;
    }
    footer{
        font-size: 1rem;
    }
}