.painting {
    width: 250px;
    height: 350px;
    text-align: center;
    position: relative;
}

#paintings {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 40px;
    max-width: 2000px;
}

.paintings-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.paintings-container h2 {
    text-align: center;
    margin: 10px 10px 40px;
    font-size: var(--xl-font-size);
}

.painting h2 {
    margin-bottom: 10px;
    font-size: var(--l-font-size);
    color: black;
}

.painting p {
    font-size: var(--m-font-size);
    color: black;
    font-weight: bold;
    margin: 6px 0;
}

.painting img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    padding: 10px;
}

.painting::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 0;
    width: 50%;
    height: 2px;
    background-color: black;
}

.painting::after {
    content: '';
    position: absolute;
    top: -5px;
    right: 0;
    width: 2px;
    height: 30%;
    background-color: black;
}

.img-container{
    position: relative;
}


.img-container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 40%;
    background-color: black;
}

.img-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 2px;
    background-color: black;
}
