/* Define global variables */
:root{
    --medium-font-size: 1rem;
    --large-font-size: 1.3rem;
    --text-color: #616161;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
/* .manu-items{
    display: flex;
    flex-direction: column;
} */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    height: 80px;
    padding: 0 30px;
    position: sticky;
    top: 0;
}
img {
    width: 150px;
}
.icons{
    font-size: var(--large-font-size);
    display: none;
    cursor: pointer;
    right: 0;
}
.nav-links{
    display: flex;
     gap: 20px;
}
li{
    list-style: none;
    font-size: var(--medium-font-size);
    font-family: "Gilroy-SemiBold";
}
.nav-links .nav-link{
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.4s;
    position: relative;
}  
.nav-links .nav-link:hover{
    color: black;
}
.nav-links .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.4s;
}
.nav-links .nav-link:hover::after{
    width: 100%;
}
@media (max-width: 650px){
    .menu-items {
        /* display: flex; */
        width: calc(100% - 60px);
        position: absolute;
        top: 80px; 
    }
    nav{
        align-items: flex-start;
        transition: 0.4s ease;
        overflow: hidden;
        padding: 20px;
    }
    nav.active{
        height: 400px;
    }
    .nav-links{
        flex-direction: column;
        align-items: center;
    }

    li{
        font-size: var(--large-font-size);
        margin: 20px 0;
    }
    /* .desktop-hr{
        display: none;
    }
    .mobile-hr{
        width: var(--hr-width);
        margin: var(--hr-margin);
        display: block;
    } */
    .icons{
        display: block;
        font-size: 2rem;
    }
}