/* Define global variables */
:root{
    /* --font-gilroy: url(Gilroy-SemiBold.ttf);
    --font-voire: url(Voire\ Display\ Light.ttf); */
    --medium-font-size: 1rem;
    --large-font-size: 1.3rem;
    --font-family: "Gilroy-SemiBold";
    --text-color: rgb(97, 97, 97);
    --transition-speed: 0.4s;
    --border-color: black;
    --border-transition-speed: 0.4s;
    --nav-links-gap: 20px;
    --hr-width: 95%;
    --hr-margin: 10px auto;
    --logo-width: 150px;
    --small-logo-width: 120px;
    --icon-font-size: 2rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}
/* .nav-bar{
    display: flex;
    align-items: center;
} */
li{
    list-style: none;
    font-size: var(--medium-font-size);
    font-family: var(--font-family);
}
.nav-links .nav-link{
    color: var(--text-color);
    text-decoration: none;
    transition: color var(--transition-speed);
    position: relative;
}  
.nav-links .nav-link:hover{
    color: black;
}
.nav-links .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--border-color);
    transition: width var(--border-transition-speed);
}
.nav-links .nav-link:hover::after{
    width: 100%;
}
.nav-links{
    display: flex;
    gap: var(--nav-links-gap);
    margin: 25px;
}
.desktop-hr{
    width: var(--hr-width);
    margin: var(--hr-margin);
}
h1{
    font-family: "Ogg Roman"; /*remm*/
}

.logo{
    margin: 20px;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}
img {
    width: var(--logo-width);
}
.icons{
    font-size: var(--large-font-size);
    display: none;
    cursor: pointer;
    right: 0;
    margin: 20px;
}
.mobile-hr{
    display: none;
}
@media (max-width: 650px){
    .logo {
        width: 80%;
    }
    .nav-bar {
        width: 100%;
        display: none;
        overflow: hidden;
        /* margin-right: 30px; */
        /* backdrop-filter: blur(10px); Adjust the blur radius as needed */
        /* background-color: rgba(37, 13, 13, 0.5);  */
    }
    .nav-bar.active{
        display: block;
        height: 350px;
    }
    .nav-bar.active .nav-links{
        flex-direction: column;
        align-items: center;
    }
    li{
        font-size: var(--large-font-size);
        padding: 10px;
    }
    .desktop-hr{
        display: none;
    }
    .mobile-hr{
        width: var(--hr-width);
        margin: var(--hr-margin);
        display: block;
    }
    .icons{
        display: block;
        font-size: var(--icon-font-size);
    }
}